development:
  adapter: postgresql
  encoding: utf8
  database: blog_api_development
  pool: 5
  host: localhost
  port: 5432
  user:
  password:

test:
  adapter: postgresql
  encoding: utf8
  database: blog_api_test
  pool: 25
  host: localhost
  port: 5432
  user:
  password:
